$bg: #030b15;
$bg-btn: #040e18;
$boder-color: #ffffff1a;

$white: #ffffff;
$blue: #00c4f4;
$gray: #a4b4c3;
$pink: #ff4581;
$violet: #564dca;
$red: #ff1d45;
$orange: #ff9700;
$green: #5dd400;

@keyframes LeftToRight {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(50px);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes UpToDown {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(65px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes rotateImg {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(180deg);
  }
}

@keyframes rotate360 {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes fadeInHeader {
  from {
    visibility: hidden;
    opacity: 0;
    transform: translateY(-45px);
  }
  to {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
  }
}

.show__effect {
  opacity: 1 !important;
  transform: translate(0, 0) !important;
  visibility: visible !important;
  transition: all 0.4s linear;
}

.loading {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  height: 100vh;
  overflow: hidden;
  background-color: $bg;
  z-index: 99999999999999;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transition: 0.2s linear;
  &.active {
    visibility: visible;
    opacity: 100;
    pointer-events: visible;
  }

  &.active .loading__icon {
    visibility: visible;
    opacity: 100;
    pointer-events: visible;
  }

  &__icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    transition: 0.2s linear;
  }
}
.lds-facebook {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-facebook div {
  display: inline-block;
  position: absolute;
  left: 8px;
  width: 8px;
  background: $blue;
  animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}
.lds-facebook div:nth-child(1) {
  left: 8px;
  animation-delay: -0.2s;
}
.lds-facebook div:nth-child(2) {
  left: 18px;
  animation-delay: -0.14s;
}
.lds-facebook div:nth-child(3) {
  left: 28px;
  animation-delay: -0.12s;
}
.lds-facebook div:nth-child(4) {
  left: 38px;
  animation-delay: -0.1s;
}
.lds-facebook div:nth-child(5) {
  left: 48px;
  animation-delay: -0.02s;
}
.lds-facebook div:nth-child(6) {
  left: 58px;
  animation-delay: 0s;
}
@keyframes lds-facebook {
  0% {
    top: 8px;
    height: 60px;
  }
  50%,
  100% {
    top: 24px;
    height: 26px;
  }
}
